# dependencies
node_modules
.pnpm-store

# build outputs
.next
dist
.turbo

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*

# playwright
test-results/
playwright-report/
